
<div>
  <iframe src="<%= @video['url'] %>" class="show-page-vid"></iframe>
</div>
<p>
  <%= @video['title'] %>
</p>
<p>
  <%= @video['genre'] %>
</p>
<p>
  <%= @video['description'] %>
</p>

<button class="show-buttons"><a href="/videos/<%= params[:id] %>/edit">Edit</a></button>

<form action="/videos/<%= params[:id] %>/delete" method="post">
  <button name="_method" value="delete" class="show-buttons">Delete</button>
</form>